[mysqld]
datadir=/data/application/mysql/
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
back_log =75
max_connections =500
myisam_sort_buffer_size =64M
join_buffer_size =1M
read_buffer_size =1M
sort_buffer_size =2M
table_cache =2500
thread_cache_size =384
wait_timeout =300
connect_timeout =10
tmp_table_size =128M
max_heap_table_size =256M
max_allowed_packet =64M
max_connect_errors =1000
read_rnd_buffer_size =524288
query_cache_limit =128M
query_cache_size =1G
query_cache_type =1
query_prealloc_size =65536
query_alloc_block_size =131072
innodb_buffer_pool_size = 2G
innodb_thread_concurrency = 10
bind-address=172.21.114.37

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
